<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Mpumelelo Tsotsha</title>
    <meta name="viewport" content="witdth=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" />
    <script src="https://kit.fontawesome.com/96fb2d72a1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../Style/styles.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|Source+Sans+Pro:300,900&display=swap" />
    <!--Open Props css library link -->
    <link rel="stylesheet" href="https://unpkg.com/open-props" />
    <!--Dev icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">

</head>
<body>     
    <div class="overlay">
    <header class="header">
        <div class="logo">
            <h3>Mpumelelo Tsots(h)a</h3>
        </div>
        <button class="nav-toggle" aria-label="toggle navigation">
            <span class="hamburger"></span>
        </button>
        <nav class="nav">
            <ul class="nav__list"> 
                <li class="nav__item"><a href="#home" class="nav__link">Home</a></li>
                <li class="nav__item"><a href="#about-me" class="nav__link">About Me</a></li>
                <li class="nav__item"><a href="#my-projects" class="nav__link">Projects</a></li>
                <li class="nav__item"><a href="#socials" class="nav__link">Socials</a></li>
            </ul>
        </nav> 
    </header> 
    <!--INTRO-->
    <section class="intro" id="home">
        <h1 class="section__title section__title--intro">Hello World, I am <span><br /> </span></h1>
        <ul class="roleList">
            <li><span>Mpumelelo</span></li>
            <li><span>a Full Stack Software Dev</span></li>
            <li><span>a Business Analyst</span></li>
            <li><span>an Information Systems Graduate</span></li>
        </ul> 
        <p class="section__subtitle section__subtitle--intro-2">FULL STACK SOFTWARE DEV</p>
        <img class="intro_image" src="../Images/Mpumelelo Picture.jpeg" alt="Picture of Mpumelelo" />
        <a class="download_link" href="../Downloadables/Mpumelelo Tsotsha_CV.pdf" download="Mpumelelo Tsotsha CV"><span> Download CV </span> </a> 
    </section>
    <!--ABOUT-->
    <section class="about__me" id="about-me">
        <h2 class="about__heading">About Me</h2>
        <div class="about__preview">
            <p class="about_paragraph">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                fringilla quam in felis tempor rutrum. Morbi pharetra quis libero non bibendum.
                Praesent consectetur justo magna, eget luctus leo porttitor eget.
                <br />
                <br />
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                fringilla quam in felis tempor rutrum. Morbi pharetra quis libero non bibendum.
                Praesent consectetur justo magna, eget luctus leo porttitor eget.
            </p>
            <button class="about__button">Read More</button>
        </div>
        <h2 class="tech__stack-title">Tech Stack</h2>
        <div class="tech__stack">
            <ul class="icon-list">
                <li class="icon__item">
                    <i class="devicon-java-plain"></i><p class="stack-name">Java</p>
                </li>
                <li class="icon__item">
                    <i class="devicon-csharp-plain"></i><p class="stack-name">C#</p>
                </li>
                <li class="icon__item">
                    <i class="devicon-python-plain python-tag"></i><p class="stack-name">Python</p>
                </li>
                <li class="icon__item">
                    <i class="devicon-javascript-plain javascript-tag"></i><p class="stack-name">JavaScript</p>
                </li>
                <li class="icon__item">
                    <i class="devicon-css3-plain"></i><p class="stack-name">CSS3</p>
                </li>
                <li class="icon__item">
                    <i class="devicon-html5-plain html-tag"></i><p class="stack-name">HTML5</p>
                </li>
                <li class="icon__item">
                    <i class="devicon-dot-net-plain dot__net-tag"></i><p class="stack-name">ASP.NET</p>
                </li>
                <li class="icon__item">
                    <i class="devicon-microsoftsqlserver-plain"></i><p class="stack-name">SQL</p>
                </li>
                <li class="icon__item">
                    <i class="devicon-git-plain"></i><p class="stack-name">Git</p>
                </li>
            </ul>
        </div>

    </section>
    <!--PROJECTS-->
    <section class="projects" id="my-projects">
        <h1 class="section__title section__title-projects">Projects</h1>
        <!--PORTFOLIO SHOWCASE-->
        <!--Green Gecko-->
        <div class="portfolio snaps-inline">
            <div class="portfolio_element">
                <h3 class="project_heading">The Green Gecko Frames</h3>
                <a href="#" class="portfolio_item"><img class="porfolio_image" src="../Images/Green Gecko Frames.jpg" alt="Green Gecko Frames Logo" /></a>
                <p class="portfolio_description">
                    <strong>Problem:<br /></strong>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    fringilla quam in felis tempor rutrum. Morbi pharetra quis libero non bibendum.
                    Praesent consectetur justo magna, eget luctus leo porttitor eget.
                    <br />
                    <strong>Solution:<br /></strong>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    fringilla quam in felis tempor rutrum. Morbi pharetra quis libero non bibendum.
                    Praesent consectetur justo magna, eget luctus leo porttitor eget.

                </p>
            </div>
            <!--Traffic Ticketing System-->
            <div class="portfolio_element">
                <h3 class="project_heading">Traffic Ticketing System</h3>
                <a href="#" class="portfolio_item"><img class="porfolio_image_3" src="../Images/Traffic System Logo(1).jpg" alt="Traffic System Logo" /></a>
                <p class="portfolio_description">
                    <strong>Problem:<br /></strong>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    fringilla quam in felis tempor rutrum. Morbi pharetra quis libero non bibendum.
                    Praesent consectetur justo magna, eget luctus leo porttitor eget.
                    <br />
                    <strong>Solution:<br /></strong>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    fringilla quam in felis tempor rutrum. Morbi pharetra quis libero non bibendum.

                </p>
            </div>
            <!--The College Investor-->
            <div class="portfolio_element">
                <h3 class="project_heading">The College Investor</h3>
                <a href="#" class="portfolio_item"><img class="porfolio_image" src="../Images/The College Investor.jpg" alt="College Investor Logo" /></a>
                <p class="portfolio_description">
                    <strong>Problem:<br /></strong>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    fringilla quam in felis tempor rutrum. Morbi pharetra quis libero non bibendum.
                    Praesent consectetur justo magna, eget luctus leo porttitor eget.
                    <br />
                    <strong>Solution:<br /></strong>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    fringilla quam in felis tempor rutrum. Morbi pharetra quis libero non bibendum.
                    Praesent consectetur justo magna, eget luctus leo porttitor eget.

                </p>
            </div>
            <!--THE WORKSHOP-->
            <div class="portfolio_element">
                <h3 class="project_heading">The Workshop</h3>
                <a href="#" class="portfolio_item"><img class="porfolio_image" src="../Images/Car Repars.jpg" alt="The Workshop Logo" /></a>
                <p class="portfolio_description">
                    <strong>Problem:<br /></strong>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    fringilla quam in felis tempor rutrum. Morbi pharetra quis libero non bibendum.
                    Praesent consectetur justo magna, eget luctus leo porttitor eget.
                    <br />
                    <strong>Solution:<br /></strong>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    fringilla quam in felis tempor rutrum. Morbi pharetra quis libero non bibendum.
                    Praesent consectetur
                </p>
            </div>
            <!--THE WORKSHOP-->
            <div class="portfolio_element">
                <h3 class="project_heading">Something 1</h3>
                <a href="#" class="portfolio_item"><img class="porfolio_image" src="../Images/Coding Desk.jpg" alt="The Workshop" /></a>
                <p class="portfolio_description">
                    <strong>Problem:<br /></strong>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    fringilla quam in felis tempor rutrum. Morbi pharetra quis libero non bibendum.
                    Praesent consectetur justo magna, eget luctus leo porttitor eget.
                    <br />
                    <strong>Solution:<br /></strong>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    fringilla quam in felis tempor rutrum. Morbi pharetra quis libero non bibendum.
                    Praesent consectetur
                </p>
            </div>
            <!--THE WORKSHOP-->
            <div class="portfolio_element">
                <h3 class="project_heading">Something 2</h3>
                <a href="#" class="portfolio_item"><img class="porfolio_image" src="../Images/Developer impostor syndrome.jpg" alt="The Workshop Lo" /></a>
                <p class="portfolio_description">
                    <strong>Problem:<br /></strong>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    fringilla quam in felis tempor rutrum. Morbi pharetra quis libero non bibendum.
                    Praesent consectetur justo magna, eget luctus leo porttitor eget.
                    <br />
                    <strong>Solution:<br /></strong>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    fringilla quam in felis tempor rutrum. Morbi pharetra quis libero non bibendum.
                    Praesent consectetur
                </p>
            </div>
            <!--THE WORKSHOP-->
            <div class="portfolio_element">
                <h3 class="project_heading">Something 3</h3>
                <a href="#" class="portfolio_item"><img class="porfolio_image" src="../Images/Code.jpg" alt="The Code" /></a>
                <p class="portfolio_description">
                    <strong>Problem:<br /></strong>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    fringilla quam in felis tempor rutrum. Morbi pharetra quis libero non bibendum.
                    Praesent consectetur justo magna, eget luctus leo porttitor eget.
                    <br />
                    <strong>Solution:<br /></strong>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    fringilla quam in felis tempor rutrum. Morbi pharetra quis libero non bibendum.
                    Praesent consectetur
                </p>
            </div>
        </div>
    </section>
    <footer class="footer" id="socials">
        <a href="mailto:mpumelelotsotsa@gmail.com" class="footer__link">mpumelelotsotsa@gmail.com</a><br />
        <a href="tel:+27672150023" class="footer__link">+276750021</a>
        <ul class="social-list">
            <li class="socials-list__item">
                <a class="social-list__link" href="https://www.instagram.com/mpumelelo_.tsotsa/">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </li>
            <li class="socials-list__item">
                <a class="social-list__link" href="https://twitter.com/BitDyan">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </li>
            <li class="socials-list__item">
                <a class="social-list__link" href="https://www.linkedin.com/in/mpumelelo-tsotsha-460922ba/">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>
            
            </li>
            <li class="socials-list__item">
                <a class="social-list__link" href="https://github.com/Mpume-algorith">
                    <i class="fa-brands fa-github"></i>
                </a>
            </li>
        </ul>
    </footer>
    </div>
    <script src="../Scripts/Index.js"></script>
</body>
</html>