@import "https://unpkg.com/open-props";
*,
*::before,
*::after{
    box-sizing: border-box;
}

/*CUSTOM PROPERTIES*/
:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-black: #000000;
    --clr-accent: #a80808;
    --clr-surface: #575757;


    --fs-h1: 2.5rem;
    --fs-h2: 2.125rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0.25), 0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px){
    :root {
        --fs-h1: 3rem;
        --fs-h2: 2.5rem;
        --fs-h3: 1.25rem;
        --fs-body: 1.125rem;
    }
}

/*GENERAL STYLES*/


html{
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.2;
}
img{
    display: block;
    max-width: 100%;
}
/*TYPOGRAPHY*/

section{
    padding: 5em 2em;
    outline: #ff6a00 dotted 3px;
}

h1,
h2,
h3{
    line-height: 1.1;
    margin: 0;
    font-weight: var(--fw-reg);
}
h1{font-size: var(--fs-h1);}
h2{font-size: var(--fs-h2);}
h3{font-size: var(--fs-h3);}

.section__title{
    margin-bottom: .15em;
}
.section__title--intro{

}
.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}
.section__subtitle--intro-2,
.section__subtitle--about {
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-reg);
    margin-bottom: 1rem;
}
/* NAVIGATION BAR */
.logo{
    max-width: 250px;
}

.logo > h3{
    font-weight: var(--fw-bold);
    color: var(--clr-accent);
}

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    padding: 1em;
    background: var(--clr-black);
}

.nav{
    position: fixed;
    background-color: var(--clr-black);
    color:   var(--clr-light);
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    min-width: 25rem;


    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}


.nav__list{
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}
.nav__link{
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover{
    color: var(--clr-accent);
}
.nav-toggle{
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}
  
.nav-open .nav{
    transform: translateX(0);
}

.nav-open .nav-toggle{
    position: fixed;
}

.nav-open .hamburger{
    transform: rotate(.625turn);
}

.nav-open .hamburger::before{
    transform: rotate(90deg);
    background: var(--clr-accent);
}

.nav-open .hamburger::after{
    opacity: 0;
}

.nav-open section {
    filter: blur(3px);
}

/*Hamburger Toggle*/
.hamburger{
   
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after{
    background: var(--clr-accent);
    width: 2em;
    height: .188em;
    border-radius: 1em;

    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;

}

.hamburger::before{
    transform: translateY(-10px);
    background: var(--clr-accent);
}
.hamburger::after{
    transform: translateY(10px);
    background: var(--clr-accent);
}


/*INTRO SECTION*/
.intro{
    position: relative;
}
.intro_image{
    box-shadow: var(--box-shadow);
    margin-bottom: 1rem;
}

.download_link{
    display: inline-block;
    margin: auto;
    background-color: var(--clr-accent);
    color: var(--clr-dark);
    padding: 1rem 4rem;
    border-radius: 1rem;
    font-size: var(--fs-h3);
    text-decoration: none;
    font-weight: var(--fw-reg);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
    transition: all .5s;
}
.download_link span{
    display: inline-block;
    position: relative;
    transition: .5s; 
}

.download_link span::after {
    content: "\f019";
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: .5s;
    margin-left: 20px;

}

.download_link:hover span{
    padding-right: 25px;
}

.download_link:hover span::after{
    opacity: 1;
    right: 0;
}
.download_link:hover{
    opacity: .9;
}

@media (min-width: 600px){
    .intro{
        display: grid;
        max-width: 62.5rem;
        margin: 0 auto;
        column-gap: 1em;
        grid-template-areas:
            "title img"
            "role-list img"
            "subtitle img"
            "download-btn img";
        grid-template-columns: min-content max-content;
        padding-right: 0;
    }
    .intro_image{
        border-radius: 3px;
        grid-area: img; 
        position: relative;
    }
    .roleList{
        grid-area: role-list;
    }
    .section__subtitle--intro-2 {
        grid-area: subtitle;
        align-self: start;
        grid-column: -1/1;
        position: relative;
        right: -1.5em;
        width: calc(100% + 1.5em);
        left: 0;
        padding: .25em;
        margin-top: 2rem;
    }
    .section__title--intro {
        top: 2rem;
        position: relative;
        left: 1rem;
        font-size: var(--fs-h2);
        grid-area: title;
        min-width: 33rem;
        line-height: 1.6;
        font-weight: 700;
        text-align: center;
    }

    .roleList {
        position: relative;
        left: 0;
        height: 1.8rem;
        line-height: 1.8rem;
        overflow: hidden;
        text-align: center;
    }
    .roleList li{
        position: relative;
        top: 0;
        list-style: none;
        font-size: 1.8rem;
        font-weight: var(--fw-bold);
        color: var(--clr-accent);
        animation: slide 20s steps(4) infinite;
    }
    
    @keyframes slide
    {
        100%
        {
            top: -7.2rem;
        }
    }
    .roleList li span{
        position: relative;
    }
    .roleList li span::before{
        content: "";
        position: absolute;
        left: 0%;
        width: 120%;
        height: 100%;
        background: linear-gradient(90deg, transparent 0%, var(--clr-light) 5%, var(--clr-light) 100%);
        animation: animate 5s linear forwards infinite;
    }
    @keyframes animate
    {
        0%
        {
            left: -20%;
        }
        50%
        {
            left: 120%
        }
        100%
        {
            left: -20%
        }
    }

    .download_link{
        grid-area: download-btn;
        grid-row: 4;
        text-align: center;
    }
    .section__title--intro {
        grid-area: title;
        margin-top: 1rem;
    }
}
/* ABOUT MYSELF */
/*.about__full-length{
    background-color: var(--clr-dark);
    background-image: url('../Images/Code with notes.jpg');
    background-size: cover;
    color: var(--clr-light);
    background-blend-mode: multiply;
}*/

.about__me {
    position: relative;
    max-width: 62.5rem;
    margin: 0 auto;
}

@media (min-width: 600px){
    .about__me{
        display: grid;
        grid-template-areas:
            "about-title stack-title"
            "about-me tech-stack";
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }
    .about__heading {
        grid-area: about-title;
        outline: var(--clr-accent) dotted 3px;
        text-align: center;
    }
    .tech__stack-title {
        grid-area: stack-title;
        outline: var(--clr-accent) dotted 3px;
        text-align: center;
    }
    .about__preview{
        grid-area: about-me;
        outline: var(--clr-accent) dotted 3px;
        padding-right: 3rem;
        padding-left: 3rem;
        text-align: center;
    }
    .about__button{
        display: block;
        margin: auto;
        cursor: pointer;
    }

    }
    .tech__stack {
        grid-area: tech-stack;
        outline: var(--clr-accent) dotted 3px;
    }
    .icon-list{
        list-style: none;
        position: relative;
        display: grid;
        grid-template-columns: repeat(3,1fr);

    }
    .icon__item {
        position: relative;
        font-size: 2.25rem;
        margin: auto;
        
    }
    .icon__item > p{
        position: relative;
        font-size: 1rem;
        top: -1rem;
        text-align: center;
    }
    .javascript-tag{
        position: relative;
        left: 1rem;
    }
    .dot__net-tag{
        position: relative;
        left: .5rem;
    }
    .html-tag{
        position: relative;
        left: .25rem;
    }
    .python-tag{
        position: relative;
        left: .25rem;
    }
/*MODAL POPUP*/
@media (min-width: 600px){
    .modal-container{
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        pointer-events: none;

    } 
    .show .modal-container{
        opacity: 1;
        pointer-events: auto;
    }

    .modal{
        border-radius: .5rem;
        aspect-ratio: 16/9;
        width: 40rem;
        background: #fff;
    }
    .modal-grid {
        aspect-ratio: 16/9;
        width: 40rem;
        overflow-y: scroll;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .modal-header{
        background: var(--clr-light);
        border-radius: .5rem;

    }
    .modal-title{
        text-align: center;
    }
    .modal-grid > img{
        aspect-ratio: 1/1;
        width: 12.5rem;
        position: fixed;
        margin-left: 25rem;
        margin-top: 2rem;
    }
    .modal-paragraph {
        text-align: center;
        margin-left: 2rem;
        margin-bottom: 2rem;

    }
    .exit-button {
        padding: .5em;
        background: transparent;
        border: 0;
        cursor: pointer;
        position: relative;
        display: block;
        margin-left: 36rem;
        bottom: 2.125rem;
        z-index: 1000;
    }
    .exit-icon {
        display: block;
        position: relative;
        transform: rotate(.625turn);
    }
    .exit-icon,
    .exit-icon:before{
        background: var(--clr-dark);
        width: 2em;
        height: .188em;
        border-radius: 1em;
        
    }
    .exit-icon:before{
        content: "";
        background: var(--clr-dark);
        position: absolute;
        top: 0;
        right: 0;
        transform: rotate(90deg);
    }

    
}
/* PROJECTS */
.projects{
    margin: 0 auto;
}
.portfolio {
    background-color: var(--clr-black);
    padding: 1rem 1rem;
    color: var(--clr-light);
    display: flex;
    overflow-x: auto;
}
.project_heading {
    text-align: center;
    margin-bottom: .5rem;
}

.portfolio_element{
    padding: 1rem;
    background: var(--clr-dark);
    border-radius: .5rem;
    margin: .5rem;
    min-width: 20rem;
}
.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1rem;
}

.snaps-inline > * {
    scroll-snap-align: start;
}

.portfolio_element a{
    display: inline-block;
    height: 10rem;
}

.portfolio_element a img{
    max-height: 10rem;
    height: 100%;
    width: 100%;
    aspect-ratio: 16/9;
}
.portfolio_element:hover{
    background-color: var(--clr-surface);
    color: var(--clr-light);
    transform: scale(1.03);
    transition: all .5s ease-in-out;
}

/*FOOTER*/
.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link{
    font-weight: var(--fw-bold);
}
a
.footer__link:hover,
.social-list__link:hover{
    opacity: .7;
}
.footer__link:hover{
    text-decoration: none;
    opacity: .7
}

.social-list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item{
    margin: 0 .5em;
}

.social-list__link{
    padding: .5em;
}